{% extends "layout.html" %}
{% block content %}

      <div class="carousel-about mb-4">
        <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
            <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="https://images.unsplash.com/photo-1490724500206-cd5482e02b9e?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1500&q=80" class="d-block w-100" alt="..."><hr>
              <div class="carousel-caption d-none d-md-block">
                <h5>Performance-driven</h5>
                <h6>we help you grow your revenue and boost your ROI through our tailored business solutions.</h6>
              </div>
            </div>
            <div class="carousel-item">
              <img src="https://images.unsplash.com/photo-1533090161767-e6ffed986c88?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80" class="d-block w-100" alt="..."><hr>
              <div class="carousel-caption d-none d-md-block">
                <h5>On Go Services</h5>
                <h6>We provide essential services at an economical price, which means you only pay for what you need and when you need it.</h6>
              </div>
            </div>
            <div class="carousel-item">
              <img src="https://images.unsplash.com/photo-1513077202514-c511b41bd4c7?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80" class="d-block w-100" alt="..."><hr>
              <div class="carousel-caption d-none d-md-block">
                <h5>Strategic guidance</h5>
                <h6>We can help you make more informed decisions to ensure your investments are aligned with business objectives.</h6>
              </div>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
      <br>
      <h4>About This Project</h4>
      <hr>
<!--Cards-->
      <div class="card-deck portfolio-deck mt-4">
        <div class="card portfolio-card " >
        <a href="" class="portfolio-links">
          <img src="https://images.unsplash.com/photo-1498050108023-c5249f4df085?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=752&q=80" class="card-img-top" alt="..."><hr>
          <div class="card-body">
            <h5 class="card-title">Python Written</h5>
            <!-- <p class="card-text">We offer a variety of Python libraries that make implementation faster and more effective and allow you to build robust and enterprise-grade solutions</p> -->
          </div>
        </a>
        </div>
        <div class="card portfolio-card">
        <a href="" class="portfolio-links">
            <img src="https://images.unsplash.com/photo-1476357471311-43c0db9fb2b4?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=1500&q=80" class="card-img-top" alt="..."><hr>
            <div class="card-body">
            <h5 class="card-title">Fully Responsive</h5>
            <!-- <p class="card-text">Python remains the top choice for a variety of web development operations such as GUI development, web application development and even game development. It is an easy-to-use and learn, flexible, robust, reliable, and highly interactive programming language that can be easily clubbed with other powerful platforms. </p> -->
            </div>
        </a>
        </div>
        <div class="card portfolio-card">
        <a href="" class="portfolio-links">
            <img src="https://images.unsplash.com/photo-1473787556057-72904458bd0a?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80" class="card-img-top" alt="..."><hr>
            <div class="card-body">
            <h5 class="card-title">Customizable</h5>
            <!-- <p class="card-text">Lorem ipsum dolor sit amet consectetur adipisicing elit. Tenetur, libero! Accusamus odio eveniet nostrum blanditiis, distinctio quas. Dolorum recusandae beatae debitis tempora. Rerum voluptatibus sint veniam nisi quaerat tempora nulla?</p> -->
            </div>
        </a>
        </div>
    </div>
    <div class="card-deck portfolio-deck mt-4">
      <div class="card portfolio-card">
      <a href="" class="portfolio-links">
          <img src="https://images.unsplash.com/photo-1519389950473-47ba0277781c?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80" class="card-img-top" alt="..."><hr>
          <div class="card-body">
          <h5 class="card-title">Why Python?</h5>
          <p class="card-text">Python remains the top choice for a variety of web development operations such as GUI development, web application development and even game development. It is an easy-to-use and learn, flexible, robust, reliable, and highly interactive programming language that can be easily clubbed with other powerful platforms.</p>
          </div>
          </a>
      </div>
      <div class="card portfolio-card">
        <a href="" class="portfolio-links">
            <img src="https://images.unsplash.com/photo-1454165804606-c3d57bc86b40?ixlib=rb-1.2.1&ixid=MXwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHw%3D&auto=format&fit=crop&w=750&q=80" class="card-img-top" alt="..."><hr>
            <div class="card-body">
            <h5 class="card-title">What we Offer?</h5>
            <p class="card-text">WebFluencer offers professional Python web development services, delivering expertise in Python APIs, web solutions and custom libraries development. We ensure that our Python developers are always updated with the latest technologies while providing a wide range of Python development services to several industry domains.</p>
            </div>
            </a>
        </div>
      </div>
      <div class="card-deck portfolio-deck mt-4 mb-4">
        <div class="card portfolio-card mt-2">
        <a href="" class="portfolio-links">
            <img src="https://image.freepik.com/free-photo/office-desk-with-computer-clipboard_155003-8193.jpg" class="card-img-top" alt="..."><hr>
            <div class="card-body">
            <h5 class="card-title">SQL Alchemy DB</h5>
            <p class="card-text">SQLAlchemy is a Python SQL toolkit and Object Relational Mapper (ORM) that allows app developers to use SQL for smooth and fault-tolerant transactional database operations. The ORM translates Python classes to tables for relational databases and automatically converts Pythonic SQLAlchemy Expression Language to SQL statements. This conversion allows developers to write SQL queries with Python syntax. SQLAlchemy also abstracts database connections and provides connection maintenance automatically. Together these features make SQLAlchemy a fantastic package for loading and querying databases.</p>
            </div>
            </a>
        </div>
        </div>

  

{% endblock content %}